# Ignore R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.RDataTmp[0-9]*

# Ignore Quarto files
.quarto/

# Ignore sample Quarto document files
sample_quarto_doc_files/

# Ignore all HTML files
*.html

